.data {
  width: max-content;
}

.button-custom {
  background-color: #00DE9D;
  font-size: small;
  color: white;
  min-width: 100px;
}

.top {
  display: grid;
  grid-template-columns: 16fr 1fr;
  align-items: center;
  justify-content: center;
}
