<div class="main-column">
  <div class="side-top">
    <img src="/assets/bug_track_logo.png" />
  </div>
  <div class="side-content">
    <div
      class="button-container"
      *ngIf="this.buttonOptions$ | async as buttonOptions"
    >
      <app-dash-button
        *ngFor="let item of this.buttonOptions | keyvalue"
        [buttonData]="[item.key, item.value]"
      ></app-dash-button>
    </div>
  </div>
  <div class="side-bottom">
    <button mat-raised-button color="warn" (click)="this.onLogout()">
      Log out
    </button>
  </div>
</div>
