<mat-card class="data">
  <mat-card-content>
    <div class="top">
      <div class="title">
        <h2>Projects</h2>
      </div>
      <div>
        <button mat-raised-button class="add-button" (click)="this.openDialog()">Add Proj</button>
      </div>
    </div>
    <table mat-table [dataSource]="this.fetchedData">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let element">
          <div class="mat-description">
            {{ element.description }}
            <app-button>

            </app-button>
          </div>
        
        </td>
        
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      showFirstLastButtons
      [length]="this.metaData.totalElements"
      [pageSize]="this.metaData.pageSize"
      [pageSizeOptions]="[5, 10]"
      aria-label="Select page"
      (page)="onChangePage($event)"
    >
    </mat-paginator>
  </mat-card-content>
</mat-card>
