.data {
  width: 70vw;
  margin-top: 50px;
}

.mat-description {
  display: grid;
  grid-template-columns: 2fr 1fr; 
  align-items: center; 
}

.add-button {
    background-color:rgb(11, 211, 24);
    font-size: small;
    color:white;
}

.top {
    display: grid;
    grid-template-columns: 14fr auto 1fr; /* Adjusted grid template */
    row-gap: 0.7rem;
    align-items: center;
    justify-content: center;
}