<form class="form" (submit)="submitHandler()" [formGroup]="inputs">
  <div class="row">
    <mat-form-field class="row-item">
      <mat-label>Firstname</mat-label>
      <input
        matInput
        placeholder="Enter your Firstname"
        name="firstname"
        formControlName="firstname"
      />
      <mat-icon matSuffix>person</mat-icon>
      <mat-hint *ngIf="fieldValidity('firstname')" class="error">
        3-30 character length</mat-hint
      >
    </mat-form-field>

    <mat-form-field class="row-item">
      <mat-label>Lastname</mat-label>
      <input
        matInput
        placeholder="Enter your Lastname"
        name="lastname"
        formControlName="lastname"
      />
      <mat-icon matSuffix>person</mat-icon>
      <mat-hint *ngIf="fieldValidity('lastname')" class="error">
        3-30 character length
      </mat-hint>
    </mat-form-field>
  </div>

  <div class="row-block">
    <mat-form-field class="block-field">
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        placeholder="Enter your Email"
        name="email"
        formControlName="email"
      />
      <mat-icon matSuffix>email</mat-icon>
      <mat-hint *ngIf="fieldValidity('email')" class="error"
        >The entered email is not valid
      </mat-hint>
    </mat-form-field>
  </div>

  <div class="row-block">
    <mat-form-field class="block-field">
      <mat-label>Username</mat-label>
      <input
        type="text"
        matInput
        placeholder="Enter your Username"
        name="username"
        formControlName="username"
      />
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>
  </div>
  <div class="row-block">
    <mat-form-field class="block-field">
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        name="password"
        formControlName="password"
        placeholder="Enter your password here"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide; $event.preventDefault()"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-hint *ngIf="fieldValidity('password')" class="error">
        At least 5 characters, one uppercase, one and special character
      </mat-hint>
    </mat-form-field>
  </div>

  <button mat-raised-button color="primary" type="submit" class="sign-up-btn">
    Sign Up
  </button>
</form>
