.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.row-1 {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  width: 100%;
  align-items: center;
  justify-content: center;

}

.flex-container-sec {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  column-gap: 20px;

}

.col-1 {
  width: 80%;
}

.col-sec-1{
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
}