.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.side {
  width: 300px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

.main-column {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 2rem; 
  row-gap: 2rem;
}

.side-top {
  display: flex;                
  flex-direction: column;       
  justify-content: center;      
  align-items: center;          
  padding:50px;   
}

.side-content {
  display: flex;
  flex-direction: column;
}

.side-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 30px;
  height: 30px;
  background-image: url('/assets/logo.svg');
}

.text {
  padding-top: 10px;
}

.button-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  row-gap: 20px;
  margin-top: 45px;
}

.main-container { 
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 2rem; /* Will be used instead by browsers that do not support `row-gap` */
  row-gap: 2rem;               
}

.stats-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}

.dash-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}