<mat-card class="content">
  <mat-card-content>
    <div class="top">
      <div class="title">
        <h2>{{ title }}</h2>
      </div>

      <div>
        <button
          class="button-custom"
          mat-raised-button
          (click)="this.openDialog()"
        >
          Add Proj
        </button>
      </div>
    </div>

    <div class="page-data">
      <ng-container *ngIf="dataContainer">
        <app-dash-table [tableData]="dataContainer" [displayedColumns]="columnContainer"></app-dash-table>
      </ng-container>
      
      <mat-paginator
        [pageSizeOptions]="[5, 10]"
        [length]="this.totalPages"
        showFirstLastButtons
        aria-label="Select page"
        (page)="setPageConfiguration($event)"
      >
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
