<mat-card class="content">
  <mat-card-content>
    <div class="top">
      <div class="title">
        <h2>{{ title }}</h2>
      </div>

      <div>
        <button
          class="button-custom"
          mat-raised-button
          (click)="this.openDialog()"
        >
          Add Proj
        </button>
      </div>
    </div>

    <div class="page-data">
      <app-dash-table [dataSource]="this.dataSource$"></app-dash-table>

      <mat-paginator
        [pageSizeOptions]="[5, 10]"
        [length]="totalPages"
        showFirstLastButtons
        aria-label="Select page"
        (page)="setPageConfiguration($event)"
      >
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
