<div class="flex-container">
  <div class="row-1">
    <div class="col-1">
      <app-dash-con
        [activeFunctionName]="'users'"
        [title]="'Team'"
      ></app-dash-con>
    </div>
    <div class="col-2">
      <app-dash-con
        [activeFunctionName]="'tickets'"
        [title]="'Tickets'"
      ></app-dash-con>
    </div>
  </div>
  <div class="row-2">
    <mat-card *ngIf="data" class="content">
      <mat-card-content class = "grid-container">
        <div class="col" *ngFor="let item of data | keyvalue; let i = index">
          <p><b>{{item.key}}</b></p>
          <p>{{item.value}}</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
